doctype html
html(lang='')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title #{title} - Class Section Listing Search 
    meta(name='description', content='')
    meta(name='theme-color' content='#4DA5F4')
    meta(name='csrf-token', content=_csrf)
    link(rel='shortcut icon', href='/images/favicon.png')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.css')
    link(rel='stylesheet', href='https://unpkg.com/@blueprintjs/icons@^3.4.0/lib/css/blueprint-icons.css')
    link(rel='stylesheet', href='https://unpkg.com/@blueprintjs/core@^3.10.0/lib/css/blueprint.css')
    link(rel='stylesheet', href='/css/main.css')

  body
    include partials/header

    .container
      include partials/flash
      block content

    include partials/footer

    script(src='/js/lib/jquery-3.1.1.min.js')
    script(src='/js/lib/bootstrap.min.js')
    script(src='https://unpkg.com/classnames@^2.2')
    script(src='https://unpkg.com/dom4@^1.8')
    script(src='https://unpkg.com/tslib@^1.9.0')
    script(async defer src="https://buttons.github.io/buttons.js")
    script(crossorigin src='https://unpkg.com/react@16/umd/react.production.min.js')
    script(crossorigin src='https://cdnjs.cloudflare.com/ajax/libs/react-dom/16.7.0/umd/react-dom.production.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/react-transition-group/2.5.3/react-transition-group.js')
    script(src='https://unpkg.com/popper.js@^1.14.1/dist/umd/popper.js')
    script(src='https://unpkg.com/react-popper@^1.0.0/dist/index.umd.min.js')
    script(src='https://unpkg.com/resize-observer-polyfill@^1.5.0')
    script(src='https://unpkg.com/@blueprintjs/icons@^3.4.0')
    script(src='https://unpkg.com/@blueprintjs/core@^3.10.0')
    script(src='/js/main.js')
    script(src='/js/course-scheduling-app.js')

    //- Google Analytics: change UA-38177297-2 to be your site's ID
    script.
      window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
      ga('create','UA-38177297-2','auto');ga('send','pageview')
    script(src='https://www.google-analytics.com/analytics.js' async defer)
